.top-header {
    background-color: #000;
    height: 50px !important;
}

.th-text {
    color: #fff;
    line-height: 50px;
}
.mob,.topscl {
    line-height: 3;
}
.mob,.topscl {
    text-align: right;
    color: #fff;
    font-size: 15px;
    margin-top: 3px;
    padding-left: 10px;
}
.topicon{padding-right: 5px;color: #dc3545;}
.topmob{padding-left: 10px;font-family: monospace;}
.topscl{text-align: left;padding-left: 10px;color: #dc3545;}

.headerf{background-color: #fff !important;}
.navbtn{font-weight: 600;padding-left: 25px;
    padding-right: 25px;}

/* .card-section {
    
    margin-bottom: 50px;
    background-color: #f1f1f1;
    padding-top: 50px;
    padding-bottom: 50px
}

.card-section h2{text-align: center; margin-bottom: 50px;}
.mcard{margin-bottom: 20px;}

.inrcard {
    box-sizing: border-box;
    box-shadow: 0px 3px 5px 1px;
    background: #ffffff;
}

.mcard .cardimage img {
    height: 130px;
    width: 100%;
    
}

.cardimage img{padding: 10px;}
.cardbody h4{text-align: center;}
.cardbody p{text-align: justify; padding-left: 10px;padding-right: 10px;}
.cardbtn {text-align: center;padding-bottom: 15px}

.card-title{text-align: center;} */

/* Home Page Why Choose us section */
.hm-chos-blk{margin-top: 3rem;}

.hm-chos-tlt{font-weight: 600;font-size: 2.6rem;text-align: center;}

.hm-chos-subtxt {
    font-size: 1.9rem; 
    color: red;
    font-weight: 600;
    line-height: 1;
    display: block;
    text-align: center;
    
}
.hm-chos-txt{text-align: center;margin-top: 1rem;}
.hmchosusimg{height: 400px;display: block;margin-left: auto;}

.col-md-6.hmchosusimgblk {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.col-md-6.hmchosusimgblk img {
    /* width: 500px; */
    max-width: 100%;
}



/* Home page Financial & Corporate Solutions Section */

.fn-bsn-sec{margin-top: 5rem;}
.fn-cor-bg-sec{background-image: radial-gradient(circle at right center, #dbcbc8 0%,#dadde0 100%);}

.lft-img >img{width: 100%;position: relative;display: block;margin-left: auto;}
.fn-cor-bg-img {
    display: block;
    margin-left: auto;   
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.lft-cnt > h4{text-align: center;font-weight: 600;font-size: 2rem;margin-top: 1.3rem;}
.fcn-cor-btn{margin-top: 0.3rem;margin-left: 3rem;}

.fnc-cor-hm-blk {
    display: flex;
}

.fnr-cor-ul-cls-blk2 {
    display: block;
    margin-left: auto;
    margin-right: 0.6rem;
}
.fnr-cor-li-cls{list-style: none;}
span.fnc-cor-hm-arw-icn {
    margin-right: 0.5rem;
}
.lft-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Home page offer section */
.off-hm{margin-top: 4rem;}

.bimgc{width: 500px; height: 300px;}


.body-section{height: auto;max-width: 100%;margin-bottom: 50px;}
.leftimg-section{max-width: 100%;}
.leftimg{width: 800px;}
.mlauto{
    font-size: 18px;
    font-weight: 500;
    color: #000 !important;
    padding-left: 12%;
}

/* Slider Text */
.fstsldsec {
    
    text-align: left;
}
.fstsldsec h3{
    font-size: 80px;
    font-weight: 700;
    
    
}

.sndsldsec {
    text-align: center;
    margin-bottom: 20%;
    margin-top: 30%;
}
.sndsldsec h3{
    font-size: 80px;
    font-weight: 700;
}

.trdsldsec {
    text-align: right;
    margin-bottom: 20%;
    margin-top: 30%;
}
.trdsldsec h3{
    font-size: 60px;
    font-weight: 700;
}
.cardp{font-size: 18px;
    font-weight: 400;}
.cardbody h4{font-size: 1.1rem;}
.bdoffcls{text-align: center;}
.bdoffhd{font-size: 40px;font-weight: 700;}
.hmbdoffp{font-weight: 400;}
.btncls{margin-top: 20PX;margin-bottom: 20PX;}
.btnin{font-weight: 600;font-size: 16px;}

/* Box Service Section */
img.expert-img {
    width: 25%;
}
.fst-sec {
    border-right: 1px solid #d3c8c8;
    /* margin-top: 1rem; */
    display: flex;
}
.expertcnt {
    padding-left: 1rem;
}
.boxservices {
    background: #f1f1f1;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
/* Footer CSS */
.footersection{margin-top: 20px; padding-top: 50px;background: #d5d5d5;
background-image: url(./images/ebsfooter.jpg);background-repeat: no-repeat;
background-size: cover;border-top: 1px solid #f7f7f700;}
.ftrcol1txt{padding-top: 20px;padding-bottom: 10px;color: #fff !important;}
.ftrulcls{list-style: none; padding-left: 0px !important;margin-top: 1rem;}
.ftrlicls{text-decoration: none;padding-top: 5px;padding-bottom: 5px; }
.ftrlicls a {color: #fff;}
.ftr-adrs-tlt{color: #fff;}
.ftr-adrs-txt{color: #fff;}
.socialtlt{ font-size: 20px;font-weight: 600;padding-top: 30px;
padding-bottom: 15px;}
.serftrtxt {text-align: center !important;font-size: 20px;font-weight: 600;color: #fff;}
.adrhd{font-size: 15px; font-weight: 500;color: #01107c;}
.firadr{font-weight: 500;}
.ftrcpright{background: #000; color: #fff;height: 50px;line-height: 3; text-align: center;}

.ftricon{color: #dc3545;}
.ftrsndrow{padding-top: 15px;}
.row.ftrsndrow {
    background: #fff;
    box-shadow: 0px 2px 4px 1px;
}
.ftrsndrow {
    padding-top: 15px;
    background: #196a89;
    box-shadow: 0px 12px 1px 4px #055370;
    padding-top: 25px;
    padding-bottom: 20px;
    
    
}
.row.ftrsndrow {
    background: #fff;
    box-shadow: 0px 2px 4px 1px;
    margin-top: 25px;
    padding-left: 15px;
}

p.ftrsndtxt {
    padding-top: 15px;
}
.ftrbrd{border-right: 1px solid #d9d7d7;}
p.ftrsndtxt.ftrtrdclm {
    padding-top: 37px;
}

.adrsec{display: flex;margin-top: 1rem;}
.usaclsp{display: none;}
.ukclsp{display: none;}

.footerpart{
    padding-bottom: 55px;
    padding-top: 35px;
}

/* Time Line Section CSS of About Page */

.main-timeline{ font-family: 'Poppins', sans-serif; }
.main-timeline:after{
    content: '';
    display: block;
    clear: both;
}
.main-timeline .timeline{
    width: calc(50% + 70px);
    margin: 0 5px 0 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    float: left;
}
.main-timeline .timeline-content{
    color: #555;
    background: #fff;
    min-height: 130px;
    padding: 30px 150px 30px 30px;
    border-top: none;
    display: block;
    position: relative;
}
.main-timeline .timeline-content:before{
    content: "";
    background-color: #00C6DA;
    height: 100%;
    width: 70px;
    position: absolute;
    top: 0;
    right: 0;
}
.main-timeline .timeline-content:hover{ text-decoration: none; }
.main-timeline .timeline-icon{
    color: #fff;
    font-size: 40px;
    line-height: 40px;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: 16px;
}
.main-timeline .timeline-year{
    color: #333;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    transform: translateY(-50%) rotate(90deg);
    position: absolute;
    top: 50%;
    right: 60px;
}
.main-timeline .title{
    color: #00C6DA;
    font-size: 23px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 5px;
}
.main-timeline .description{
    font-size: 14px;
    margin: 0;
}
.main-timeline .timeline:nth-child(even){
    float: right;
    margin: 0 0 0 5px;
}
.main-timeline .timeline:nth-child(even) .timeline-content{ padding: 30px 30px 30px 150px; }
.main-timeline .timeline:nth-child(even) .timeline-content:before{
    right: auto;
    left: 0;
}
.main-timeline .timeline:nth-child(even) .timeline-icon{
    right: auto;
    left: 10px;
}
.main-timeline .timeline:nth-child(even) .timeline-year{
    right: auto;
    left: 60px;
}
.main-timeline .timeline:nth-child(4n+2) .timeline-content:before{ background-color: #00A6F9; }
.main-timeline .timeline:nth-child(4n+2) .title{ color: #00A6F9; }
.main-timeline .timeline:nth-child(4n+3) .timeline-content:before{ background-color: #FF3E7D; }
.main-timeline .timeline:nth-child(4n+3) .title{ color: #FF3E7D; }
.main-timeline .timeline:nth-child(4n+4) .timeline-content:before{ background-color: #7438B9; }
.main-timeline .timeline:nth-child(4n+4) .title{ color: #7438B9; }
@media screen and (max-width:767px){
    .main-timeline .timeline,
    .main-timeline .timeline:nth-child(even){
        width: 100%;
        margin: 0 0 30px;
    }
}
@media screen and (max-width:576px){
    .main-timeline .timeline .timeline-content,
    .main-timeline .timeline:nth-child(even) .timeline-content{
        text-align: center;
        padding: 130px 25px 25px;
    }
    .main-timeline .timeline .timeline-content:before,
    .main-timeline .timeline:nth-child(even) .timeline-content:before{
        height: 70px;
        width: 100%;
    }
    .main-timeline .timeline-icon,
    .main-timeline .timeline:nth-child(even) .timeline-icon{
        transform: translateY(0) translateX(-50%);
        top: 16px;
        left: 50%;
        right: auto;
    }
    .main-timeline .timeline-year,
    .main-timeline .timeline:nth-child(even) .timeline-year{
        transform: translateY(0) translateX(-50%);
        top: 80px;
        left: 50%;
        right: auto;
    }
}


/* Our Services Section */
.ourservicesout{padding-top: 30px; padding-bottom: 30px;}
.ourserviceshead{text-align: center;padding-bottom: 50px; font-weight: 700; font-size: 2.6rem;}


/* Footer Address Section */

.ftr-adrs{background-color: #a32701; color: #fff;margin: 0rem 1rem 0rem 0rem;}
button.btn.btn-link.ftr-adrs:hover{color: #fff !important; text-decoration: none;}

/* Contact page Section*/
.cnt-hd-img{
    background-image: none;
    text-transform: uppercase;
    padding:3rem 0rem 3rem 0rem;  
    text-align: center; 
}

.cnt-hd-img > a{color: #fff; font-weight: 600; font-size: 3rem;}
.navbar-brand{
    text-align: center !important;
}
.cnt-hd-blk{background-image: url(./images/web\ footer11.jpg);}
.cnt-hd-img > a:hover{color:#fff;}
.cnt-body-blk{
    padding:5rem 0rem 5rem 0rem; 
}
.cnt-map-blk{
    background-image:url(./images/ebsmap.PNG) ;
}

/* Solution page Section*/
.cnt-blk{
    padding-left: 20px;
}
.card-blk{
    height: 300px;
    width: 300px;
    background-color:rgb(117, 76, 121);
    padding: 30px;
    margin: 20px;
    color:#fff;
    border-radius: 1rem;
    box-shadow: 5px 10px #888888;

}
.card-icon{
    height:60px;
    width: 60px;
    
}
/* solution Card*/
img.card-img {
    margin-top: 10px;
    height: 100px;
    width: 100px;
    background-color: #022126;
    border: 10px solid #ffffff;
    border-radius: 100px;
}
.card-sol {
    background-color: #c3f5dc;
    box-shadow: 1px 1px 5px 2px rgb(107 93 93 / 78%);
    margin-bottom: 25px;
    border-radius: 5%;
}
.sec-sol-1 {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
    
}

.solbtn{
    margin-bottom: 10px;
}
.sol-img-blk{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* solution sublinks */

.side-bar{
    margin-top: 3rem;
    padding-left: 2rem;
    text-align: center;
   
}
.sol-sub-body{
margin-top: 3rem;
padding-right: 3rem;
text-align: center;
text-align: justify;

}
/* quick link*/
.qk-list{
    background-color: rgb(163, 161, 161);
    padding: 5px;
}
.qk-list-li{
    text-align: right;
    font-weight: bold;
    list-style: none;
    background: #cce5ff;
    color: darkblue;
    margin: 5px;
}
.link-img{
    margin-right: 100%;
    height: 70px;
    width: 70px;
}

